<!DOCTYPE html>

<html>
    <head>
        <title>index</title>
    </head>

    <body>
        <h2>This is an EJS Model Engine 哈哈</h2>
        <h2><%= msg %></h2>
        </br>
        <ul>
            <% for(var i = 0; i < l.length; i++) { %>
                <li><%= l[i] %></li>
            <%} %>
        </ul>
    </body>
</html>